<main>
  <h1>My personal library</h1>
  <ul>
    @for(book of books; track book.id) {
    <li>
      <h2>{{ book.name }}</h2>
      <h3>{{ book.author.name }}</h3>
    </li>
    }
  </ul>

  <form action="">
    <div>
      <label for="name">book</label>
      <input
        [(ngModel)]="book.name"
        id="name"
        name="name"
        type="text"
        placeholder="your book name"
      />
    </div>
    <div>
      <label for="author">author</label>
      <input
        [(ngModel)]="book.author.name"
        id="author"
        name="author"
        type="text"
        placeholder="your author name"
      />
    </div>
    <div>
      <label for="cover">cover</label>
      <input
        [(ngModel)]="book.cover"
        id="cover"
        name="cover"
        type="text"
        placeholder="your cover url"
      />
    </div>
    <div>
      <label for="synopsis">synopsis</label>
      <textarea
        [(ngModel)]="book.synopsis"
        name="synopsis"
        id="synopsis"
      ></textarea>
    </div>
    <button (click)="onSubmit()" type="submit">add book</button>
  </form>

  <p>{{ book.name }}</p>
</main>
